.about {
  max-width: 1052px;
  margin: 0 auto;
  padding: 120px 24px;

}

.about__grid {
  display: grid;
  grid-template-columns: 334px auto;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about_column {
  display: flex;
  flex-direction: column;
  width: 1052px;
  height: 595px;
}

.about__title {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-weight: 700;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 100px;
  text-transform: uppercase;
  color: #000;

}

.about__text_first {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  width: 693px;
  padding-bottom: 24px;
}

.about__text_second {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  width: 693px;
  height: 312px;
}