.cover {
  height: 757px;
  width: 1100px;
  background-image: url("/images/cover.jpg");
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  overflow-x: hidden;
}

.cover__overlay {
  padding: 0 50px;
  box-sizing: border-box;
  padding-top: 165px;
}

.cover__title {
  margin: 0 auto;
  height: 385px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
}

.accent__span {
  display: block;
}

.aligned-text {
  text-align: left;

}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  height: 51px;
  margin-top: 106px;
  align-items: center;
}

.cover__description-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 29px;
}

.bet-button {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  width: 256px;
  height: 51px;
  background-color: transparent;
  border: 1px solid #fff;
  opacity: 100%;
  color: #fff;
}

