body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;  
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
};