
.lots {
  margin: 0 auto;
  overflow-x: hidden;
}

.lots__heading {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  padding-top: 180px;
  padding-left: 64px;
  padding-bottom: 27px;
}

.lots__card-list {
  display: flex;
  justify-content: center;
  gap: 25px;
  
  
}

.lots__card-list-item {
  display: flex;
  width: 334px;
  height: 596px;
  
  
}

a {
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.overlay__lots {
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 48px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  
  justify-content: space-between;
  background-image: url("/images/photo.png");
  background-repeat: no-repeat;

}

.card__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;

}

.card__text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.card_type_book {
  background-image: url("/images/photo2.png");
  background-repeat: no-repeat;
}

.card_type_picture {
  background-image: url("/images/photo3.png"); 
  background-repeat: no-repeat;
}

.lots__look-more-link {
  width: 192px;
  height: 23px;
  font-size: 20px;
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 0;
  text-decoration: underline;
}